<ion-view title="View Image">
    <ion-content style="height: 100%">
        <div style="text-align: center">
            <img ng-src="http://i.imgur.com/{{imageId}}l.gif" width="80%" />
        </div>
    </ion-content>
    <ion-footer-bar class="bar-dark">
        <div class="button-bar">
            <button class="button button-icon icon ion-thumbsdown"></button>
            <button class="button button-icon icon ion-heart"></button>
            <button class="button button-icon icon ion-thumbsup"></button>
        </div>
    </ion-footer-bar>
</ion-view>
