<ion-view>
    <ion-nav-bar class="bar-dark">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon icon ion-android-upload" ng-click="upload()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-tabs class="tabs-dark tabs-icon-only">
        <ion-tab title="Stream" icon-on="ion-ios-pulse-strong" icon-off="ion-ios-pulse-strong">
            <ion-nav-view name="viral"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Me" icon-on="ion-person" icon-off="ion-person">
            <ion-nav-view name="me"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Messages" icon-on="ion-chatbox" icon-off="ion-chatbox">
            <ion-nav-view name="messages"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
