<ion-view title="Imgur">
    <ion-content style="background-color: #2b2b2b;">
        <div class="login"></div>
        <div style="margin: auto; width: 80%; color: white; text-align: center; margin-bottom: 50px">
            <p>An unofficial Imgur application powered by Ionic Framework and Apache Cordova.</p>
            <br />
            <p>Created by @nraboy</p>
        </div>
        <div style="margin: auto; width: 80%">
            <button class="button button-block button-dark" ng-click="login()">SIGN IN</button>
        </div>
    </ion-content>
</ion-view>
