<ion-view title="Viral Stream" ng-init="viral()">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="viral(true)"></ion-refresher>
        <div class="row" ng-repeat="image in images.data | limitTo: 100" ng-if="$index % 4 === 0">
            <div class="col col-25" ng-if="$index < images.data.length">
                <img ng-if="!images.data[$index].is_album" ng-src="http://i.imgur.com/{{images.data[$index].id}}b.gif" width="100%" />
                <img ng-if="images.data[$index].is_album" ng-src="http://i.imgur.com/{{images.data[$index].cover}}b.gif" width="100%" />
            </div>
            <div class="col col-25" ng-if="$index + 1 < images.data.length">
                <img ng-if="!images.data[$index + 1].is_album" ng-src="http://i.imgur.com/{{images.data[$index + 1].id}}b.gif" width="100%" />
                <img ng-if="images.data[$index + 1].is_album" ng-src="http://i.imgur.com/{{images.data[$index + 1].cover}}b.gif" width="100%" />
            </div>
            <div class="col col-25" ng-if="$index + 2 < images.data.length">
                <img ng-if="!images.data[$index + 2].is_album" ng-src="http://i.imgur.com/{{images.data[$index + 2].id}}b.gif" width="100%" />
                <img ng-if="images.data[$index + 2].is_album" ng-src="http://i.imgur.com/{{images.data[$index + 2].cover}}b.gif" width="100%" />
            </div>
            <div class="col col-25" ng-if="$index + 3 < images.data.length">
                <img ng-if="!images.data[$index + 3].is_album" ng-src="http://i.imgur.com/{{images.data[$index + 3].id}}b.gif" width="100%" />
                <img ng-if="images.data[$index + 3].is_album" ng-src="http://i.imgur.com/{{images.data[$index + 3].cover}}b.gif" width="100%" />
            </div>
        </div>
    </ion-content>
</ion-view>
